<div class="card bg-light">
    <div class="card-body text-center">
        {{site.author.name}}
        <ul class="navbar-nav ml-auto">

            {% if page.title == "ArcMap使用示例" %}

            {% for item in site.data.leftNavyDemos %}
            <li class="nav-item">
                <a href='#{{ item.href }}' class="nav-link">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}

            {% endif %}



            {% if page.title == "系统整理" %}

            {% for item in site.data.leftNavySystemSort %}
            <li class="nav-item">
                <a href='#{{ item.href }}' class="nav-link">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}

            {% endif %}



        </ul>
    </div>
</div>


